*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins', sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f2227;
}

/* Container */
.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Card */
.card{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  gap:20px;
  max-width: 360px;
  min-height:300px;
  padding:50px;
  border-radius:50px;
}

.card h2{
  font-size:28px;
  color:#fff;
}

.card p{
  font-size:16px;
  line-height:1.6;
  color:#cfd3da;
}

/* Button */
.btn{
  width:160px;
  padding:12px 20px;
  border:none;
  border-radius:20px;
  font-size:14px;
  cursor:pointer;
}

.card{
  background: #2a2e35;
  box-shadow:
    -30px 30px 60px #15181c,
    inset 8px -8px 16px
    rgba(0,0,0,0.5),
    inset 0px 14px 28px
    rgba(255,255,255,0.05);
}

.btn{
  color: white;
  background: #3a3f47;
  box-shadow:
    -6px 6px 12px #16181c,
    inset 3px -3px 6px
    rgba(0,0,0,0.5),
    inset -2px 2px 4px
    rgba(255,255,255,0.05);
}

.btn:hover{
  box-shadow:
  inset -4px 4px 8px #15181c,
  inset 4px -4px 8px
  rgba(255,255,255,0.05);
}


